.new-tweet {
  padding: 7em;
}

.counter {
  float: right;
  font-family: bungee, sans-serif;
}

#tweet-button {
  float: left;
  color: white; 
  background-color: #4056A1;
  font-family: bungee, sans-serif;
}

#input-text {
  width: 100%;
  font-family: source sans pro, sans-serif;
  border: none;
  background: transparent;
  resize: none;
  border-bottom: solid 2px black;
  margin-bottom: 10px;
  height: 45px;
  outline: 0;
}

#input-text::-webkit-input-placeholder {
  font-weight: bold;
}

.tweet header {
  background-color: #f4f1ec;
  height: 75px;
}

.img-user {
  float: left;
}

.handle {
  float: right;
}

.time {
  float:left;
}

.icons {
  margin-top: 5px;
  float:right;
}

article {
  border: solid 4px black;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 1px;
  margin-bottom: 20px;
}

article:hover {

  border-right: solid 7px blue;
  border-bottom: solid 7px blue;
}

.handle {
  display: none;
  float: right;

}

article:hover .handle {
  float: right;
  display: inline-block;
}

article header{
  height: 40px;
  margin-top: 10px;
}

article footer{
  border-top: solid 3px black;
  height: 50px;
  font-size: 1rem;

}

.tweet-text {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
  
}

#flag {
  color: blue;
  padding-right: 5px;
}
#retweet {
  color: blue;
  padding-right: 5px;
}
#heart {
  color: blue;
}

